{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Cargar el archivo CSS -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <header>
      <h1>Dashboard de Gestión</h1>
  </header>
  <div class="container">
      <nav>
          <ul>
              <li>Datos Personales</li>
              <li>Modalidad</li>
              <li>Servicios Prestados</li>
              <li>Estudios Realizados</li>
              <li>Ausencias Meritos y Demeritos</li>
              <li>Bonificaciones</li>
              <li>Tiempo de Servicios</li>
              <li>Pensionistas</li>
          </ul>
      </nav>
      <main>
        <h2>Datos Personales</h2>
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Guardar</button>
        </form>
        <h2>Datos Personales:</h2>
        {% for datos in datos_personales %}
        <ul>
          <li>
            {{ datos.apellido_paterno }} {{ datos.apellido_materno }} {{ datos.nombres }}
        </ul>

        {% empty %}
          <li>No existen registros</li>
        {% endfor %}
      </main>
  </div>
</body>
</html>
